.hero-btn {
    background: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffff;
    padding: 12px 34px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);

}
.hero-btn::before {
    content: "";
    position: absolute;
    left: -30%;
    top: 50%;
    width: 50%;
    color: #fff;
    background-color: #fff;
    height: 2px;
    transform: scale3d(0,1,1);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
}
.hero-btn:hover::before {
    transform: scale3d(1,1,1);  
}
.hero-btn::after {
    content: "";
    position: absolute;
    right: -30%;
    top: 50%;
    width: 50%;
    color: #fff;
    background-color: #fff;
    height: 2px;
    transform: scale3d(0,1,1);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}
.hero-btn:hover::after {
    transform: scale3d(1,1,1);   
}
.hero-btn:hover {
    background: #f44336;
}
.hero-btn-black {
    margin-top: 30px;
    color: black;
    border: 1px solid #111;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}
.hero-btn-black::after,
.hero-btn-black::before
 {
    color: #111;
    background: #111;
}
.hero-btn-black:hover {
    background:rgba(22, 6, 6, 0.7);
    box-shadow: 0 0 5px 0 rgba(82, 7, 7, 0.7);
}